# A typical ~/.cloudfuse configuration file for use with OpenStack,
# noting that "tenant" should be the tenant name, rather than the ID:

username={{ openstack_user }}
tenant={{ openstack_tenant }}
password={{ openstack_password  }}
authurl=http://10.10.0.1:5000/v2.0
